html
    title Carta

    head 

        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="keywords" content="restaurante,la punta, Laterne")
        meta(name="author" content="Laterne & .")
        meta(name="copyright" content="Laterne & .")

        link(href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet")

        link(href="https://db.onlinewebfonts.com/c/6909bd43ba5cc7d91c36a25c548b00ed?family=ITC+Clearface+Black" rel="stylesheet")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com", crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Anton&family=Roboto&display=swap" rel="stylesheet")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com", crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Overpass:wght@100&display=swap" rel="stylesheet")

        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css")
        script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js", defer)

        link(href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet")      

        script(src="https://cdn.jsdelivr.net/npm/sweetalert2@10")

        script(src="/swiper.js", defer)
        script(src="/client-ordered.js", defer)

        link(rel="stylesheet" href="/card_virtual.css")

    body


        div#portada.grid.grid-cols-1.place-items-center
            a.navbar-brand.text-light.brand(href="/")
                span.brand-highlight Laterne 
                span.ampersant.text-white &
                span.point  .

        .sticky.top-0.w-full.h-48.pb-5.overflow-hidden.contain-swiper.z-10.bg-white
            .swiper-container-categories-card.container-beer
                .swiper-wrapper.p-2
                    each group in GroupedProducts
                        .swiper-slide.bg-white.shadow-md.p-0.grid.grid-cols-1.place-items-center.border.rounded-md.border
                            a(href=`#category-${group.category.id}`)  
                                img(src=group.category.imageUrl, alt=group.category.name, class="selectable-image max-h-24 w-auto")
                            a(href=`#category-${group.category.id}`).text-black.px-3.cursor-pointer #{group.category.name} 


        // Contenedor principal
        div(class="grid grid-cols-1 mt-20 overflow-x-hidden relative")

            // Iteración sobre las categorías y productos
            each group in GroupedProducts
                // Mostrar la categoría como encabezado
                h2(class="text-2xl font-bold mx-4 mb-4 w-1/2" id=`category-${group.category.id}`) #{group.category.name}

                // Contenedor de productos
                div(class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 px-4 py-4")

                    // Iteración sobre los productos
                    each product in group.products
                        // Tarjeta de producto
                        div(class="product-card relative grid xs-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-1 bg-white shadow-md xl:max-h-50 rounded-lg mb-4")
                            // Contenido de la tarjeta
                            div(class="p-1 grid place-items-center relative")
                                img(class="h-40 sm:h-40 lg:h-40 object-cover w-full rounded-md", src=product.imageUrl, alt="", onclick=`openModal('${product.imageUrl}')`)

                                // Mensaje de "agotado"
                                if product.availavility === "agotado"
                                    div(class="absolute inset-0 my-10 flex items-center justify-center text-2xl font-bold mx-2 bg-white bg-opacity-50 rounded-md")
                                        | AGOTADO

                            // Información del producto
                            div(class="w-full p-1 flex flex-col justify-start max-h-80 overflow-x-hidden info-card")
                                .p-4
                                    h3(class="text-dark mb-1 lg:text-lg") #{product.name}
                                    .text-sm.flex.items-center
                                        p #{product.description}
                                    span.text-lg.text-dark.price $ #{product.price}

                            // Botón para agregar al carrito
                            button.absolute.bottom-2.right-4.bg-white.text-black.py-1.px-3.rounded-md.border.shadow-lg(class="hover:bg-green-200 transition-all" onclick=`agregarAlCarrito(${JSON.stringify(product)})`) +



        div#contador-carrito.fixed.bottom-4.right-4.bg-white.text-black.py-3.px-5.rounded-md.border.shadow-lg.cursor-pointer(class="hover:bg-blue-600" onclick="abrirModalCarrito()")
            span#cantidad-productos.text-lg.font-bold 0


        #modal-carrito.modal(class="fixed inset-0 hidden z-20 flex items-center justify-center bg-black bg-opacity-50 ")
            div.modal-content(class="bg-white  w-screen overflow-auto py-20 px-5 rounded-lg text-center relative")

                .item-carrito
                    p -

                p.precio-total.absolute.top-0.left-0 TOTAL: $

                button#cerrar-modal-carrito.absolute.top-0.right-0(onclick="cerrarModalCarrito()") CERRAR


        div#productModal.modal(class="fixed shadow-2xl p-8 inset-0 hidden z-20 rounded-lg flex items-center justify-center bg-black bg-opacity-50 " onclick="closeModal()")
            div.modal-content(class="bg-white p-4  rounded-lg text-center relative h-full  cursor-auto" onclick="event.stopPropagation()")
                span.close-modal(class="absolute top-1  right-2 text-3xl cursor-pointer" onclick="closeModal()") &times;
                img#modalImage(src="" alt="Modal Image" class="object-contain rounded-3xl h-full mx-auto")




