html
    title Carta

    head 

        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="keywords" content="restaurante,la punta, Laterne")
        meta(name="author" content="Laterne & .")
        meta(name="copyright" content="Laterne & .")

        //link(href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet")

        link(href="https://db.onlinewebfonts.com/c/6909bd43ba5cc7d91c36a25c548b00ed?family=ITC+Clearface+Black" rel="stylesheet")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com", crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Anton&family=Roboto&display=swap" rel="stylesheet")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com", crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Overpass:wght@100&display=swap" rel="stylesheet")

        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css")
        script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js", defer)

        //(href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet")      

        //script(src="https://cdn.jsdelivr.net/npm/sweetalert2@10")

        script(src="/swiper.js", defer)
        script(src="/client-ordered.js", defer)
        link(rel="icon" href="/logo.ico")

        link(rel="stylesheet" href="/dist/card_virtual.css")



    body


        div#portada.grid.grid-cols-1.place-items-center
            a.navbar-brand.text-light.brand(href="/")
                span.brand-highlight Laterne 
                span.ampersant.text-white &
                span.point  .

        .sticky.top-0.w-full.pb-2.overflow-hidden.contain-swiper.z-10.bg-white(style="height:100px")
            .swiper-container-categories-card.container-beer
                .swiper-wrapper.w-full.h-full.p-1
                    if GroupedProducts.length > 0
                        each group in GroupedProducts
                            .swiper-slide.h-full.bg-white.shadow-md.p-0.grid.grid-cols-1.place-items-center.border.rounded-md.border
                                a(href=`#category-${group.category.id}`)  
                                    img(src=group.category.imageUrl, alt=group.category.name, class="selectable-image h-12 w-auto")
                                a(href=`#category-${group.category.id}`).text-sm.text-black.px-3.cursor-pointer.text-center #{group.category.name} 
                    else
                        each index in [1,2,3,4,5,6,7,8,9,10,11,12]
                            .swiper-slide.bg-white.shadow-md.p-0.grid.grid-cols-1.place-items-center.border.rounded-md.border
                                img(src="/bottle-1-svgrepo-com.png" class="selectable-image h-12 w-auto")
                                p categoria ejemplo #{index}




        each group in GroupedProducts
            // Mostrar la categoría como encabezado

            h2(class=`py-2 sticky-personalizado z-${group.category.id}  text-xl  text-center font-bold mb-4 w-full`) #{group.category.name}
            a(id=`category-${group.category.id}`) 


            // Contenedor de productos
            div(class="contain-products grid grid-cols-2 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2  px-3 py-4")

                // Iteración sobre los productos
                each product in group.products
                    // Tarjeta de producto
                    div(class="product-card relative grid xs-cols-2 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 bg-white shadow-lg rounded-lg mb-4")

                        // Contenido de la tarjeta
                        div(class="p-1 flex justify-center h-40 max-h-60 items-start relative")
                            if product.imageUrl !== "product_default.png"
                                img(class="img-card h-full w-full object-contain cursor-pointer transition-transform transform hover:scale-105 rounded-2xl md:w-full md:h-full lg:w-full lg:h-full xl:w-full xl:h-full", src=product.imageUrl, alt="", onclick=`openModal('${product.imageUrl}')`)
                            else 
                                img(class="img-card object-contain w-full h-32 rounded-lg", src=product.imageUrl)

                            // Mensaje de "agotado"
                            if product.availavility === "agotado"
                                div(class="absolute inset-0 my-10 flex items-center justify-center text-2xl font-bold mx-2 bg-white bg-opacity-50 rounded-md")
                                    | AGOTADO

                        // Información del producto
                        div(class="w-full  p-1 flex flex-col justify-start h-40 max-h-60 overflow-x-hidden info-card")
                            .p-4
                                h3(class="text-dark mb-1 lg:text-md font-bold") #{product.name}

                                span.text-lg.text-dark.mb-1.price $ #{product.price}
                                .text-sm.flex.items-center
                                    p #{product.description}



                                if product.availavility !== "agotado"
                                    // Botón para agregar al carrito
                                    button.absolute.bottom-2.right-4.bg-white.text-black.py-1.px-3.rounded-md.border.shadow-lg(class="hover:bg-rose-400  transition-transform transform hover:scale-105" onclick=`agregarAlCarrito(${JSON.stringify(product)})`) +



        //div#contador-carrito.fixed.bottom-4.right-4.bg-white.text-black.p-5.rounded-md.border.shadow-lg.cursor-pointer(class="hover:bg-blue-600" onclick="abrirModalCarrito()")
            span#cantidad-productos.text-lg.font-bold.absolute.top-0.right-0 0

        .carrito#contador-carrito.fixed.bottom-4.right-4(onclick="abrirModalCarrito()")
            img(src="/waiter2.png")
            span.texto-carrito#cantidad-productos 0
    


        #modal-carrito.modal(class="fixed inset-0 hidden  items-center justify-center bg-black bg-opacity-50")
            div.modal-content(class="bg-white  w-[calc(100vw - 10px)] overflow-auto py-20 px-5 rounded-lg text-center relative")

                .item-carrito
                    p -

                p.precio-total.absolute.top-0.left-0 TOTAL: $

                button#cerrar-modal-carrito.absolute.top-0.right-0(onclick="cerrarModalCarrito()") CERRAR


        div#productModal.modal(class="fixed shadow-2xl p-8 inset-0 hidden  rounded-lg  items-center justify-center bg-black bg-opacity-50 " onclick="closeModal()")
            div.modal-content(class="bg-white p-4  rounded-lg text-center relative h-full  cursor-auto" onclick="event.stopPropagation()")
                span.close-modal(class="absolute top-1  right-2 text-3xl cursor-pointer" onclick="closeModal()") &times;
                img#modalImage(src="" alt="Modal Image" class="object-contain rounded-3xl h-full mx-auto")




