extends layout_tailwind


block content

    title Editar

    head 

        script(src="/form_edit_category.js" defer)
        link(rel="stylesheet" href="/dist/category.css")
        script(src="/swiper.js", defer)

    body

        div(class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-2 p-4 ")

            form(id="form_edit_category" class="h-full  p-6 shadow-2xl overflow-hidden")

                .w-full
                    .relative.h-10.w-full(class='min-w-[200px]')
                        input.peer.h-full.w-full.border.border-blue-gray-200.bg-transparent.px-3.font-sans.text-sm.font-normal.text-blue-gray-700.outline.outline-0.transition-all(type="text" name="name" id="name" class='rounded-[7px] py-6 placeholder-shown:border placeholder-shown:border-blue-gray-200 placeholder-shown:border-t-blue-gray-200 focus:border-2 focus:border-pink-500 focus:border-t-transparent focus:outline-0 disabled:border-0 disabled:bg-blue-gray-50' placeholder=' ')
                        label.pointer-events-none.absolute.left-0.flex.h-full.w-full.select-none.font-normal.leading-tight.text-blue-gray-400.transition-all(class="before:content[' '] after:content[' '] -top-1.5 text-[11px] before:pointer-events-none before:mt-[6.5px] before:mr-1 before:box-border before:block before:h-1.5 before:w-2.5 before:rounded-tl-md before:border-t before:border-l before:border-blue-gray-200 before:transition-all after:pointer-events-none after:mt-[6.5px] after:ml-1 after:box-border after:block after:h-1.5 after:w-2.5 after:flex-grow after:rounded-tr-md after:border-t after:border-r after:border-blue-gray-200 after:transition-all peer-placeholder-shown:text-sm peer-placeholder-shown:leading-[3.75] peer-placeholder-shown:text-blue-gray-500 peer-placeholder-shown:before:border-transparent peer-placeholder-shown:after:border-transparent peer-focus:text-[11px] peer-focus:leading-tight peer-focus:text-pink-500 peer-focus:before:border-t-2 peer-focus:before:border-l-2 peer-focus:before:border-pink-500 peer-focus:after:border-t-2 peer-focus:after:border-r-2 peer-focus:after:border-pink-500 peer-disabled:text-transparent peer-disabled:before:border-transparent peer-disabled:after:border-transparent peer-disabled:peer-placeholder-shown:text-blue-gray-500")
                            | NOMBRE

                .w-full.my-10
                    .relative.h-10.w-full(class='min-w-[200px]')
                        input.peer.h-full.w-full.border.border-blue-gray-200.bg-transparent.px-3.font-sans.text-sm.font-normal.text-blue-gray-700.outline.outline-0.transition-all(type="text" name="description" id="description" class='rounded-[7px] py-6 placeholder-shown:border placeholder-shown:border-blue-gray-200 placeholder-shown:border-t-blue-gray-200 focus:border-2 focus:border-pink-500 focus:border-t-transparent focus:outline-0 disabled:border-0 disabled:bg-blue-gray-50' placeholder=' ')
                        label.pointer-events-none.absolute.left-0.flex.h-full.w-full.select-none.font-normal.leading-tight.text-blue-gray-400.transition-all(class="before:content[' '] after:content[' '] -top-1.5 text-[11px] before:pointer-events-none before:mt-[6.5px] before:mr-1 before:box-border before:block before:h-1.5 before:w-2.5 before:rounded-tl-md before:border-t before:border-l before:border-blue-gray-200 before:transition-all after:pointer-events-none after:mt-[6.5px] after:ml-1 after:box-border after:block after:h-1.5 after:w-2.5 after:flex-grow after:rounded-tr-md after:border-t after:border-r after:border-blue-gray-200 after:transition-all peer-placeholder-shown:text-sm peer-placeholder-shown:leading-[3.75] peer-placeholder-shown:text-blue-gray-500 peer-placeholder-shown:before:border-transparent peer-placeholder-shown:after:border-transparent peer-focus:text-[11px] peer-focus:leading-tight peer-focus:text-pink-500 peer-focus:before:border-t-2 peer-focus:before:border-l-2 peer-focus:before:border-pink-500 peer-focus:after:border-t-2 peer-focus:after:border-r-2 peer-focus:after:border-pink-500 peer-disabled:text-transparent peer-disabled:before:border-transparent peer-disabled:after:border-transparent peer-disabled:peer-placeholder-shown:text-blue-gray-500")
                            | DESCRIPCION

                div.flex.mb-4.max-h-screen.overflow-y-scroll
                    label(for="selectedImage" class="text-gray-700 font-bold mb-2 block") IMAGEN

                div.w-full.mb-4.max-h-screen.overflow-hidden
                    .swiper-container-categories.container-beer
                        .swiper-wrapper
                            each image in Images
                                .swiper-slide.py-0.flex.justify-center.border.rounded-md
                                    if image.name === Category.imageUrl
                                        img(src=image.path, alt=image.name, class="selectable-image max-h-24 w-auto selected", data-name=image.name)
                                    else
                                        img(src=image.path, alt=image.name, class="selectable-image max-h-24 w-auto", data-name=image.name)

                input(type="hidden" value=`${Category.imageUrl}`  name="selectedImage" id="selectedImage")
                input(type="hidden" value=`${Category.id}`  name="id" )


                div.flex.items-center.justify-end
                    button(type="submit" class="bg-blue-500 hover:bg-blue-700  mt-4 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline") Editar 



            #container-categories.h-screen.overflow-auto

                .card.relative.p-1.bg-white.rounded-lg.overflow-hidden.shadow-2xl.m-4.flex.border(id=`card-${Category.id}`)
                    img(src=`/${Category.imageUrl}`, id="category-image", alt=Category.name, class="h-20 object-contain mr-2 rounded-l-lg")
                    div(class="flex flex-col justify-between w-full")
                        div
                            h3.text-lg.font-bold.mb-2#category-name #{Category.name}
                            p.text-gray-600#category-description #{Category.description}
                            div.flex.items-center.justify-between.mt-4
