extends layout


block content

  head 

    script(src="/swiper.js", defer)
    script(src="/index.js", defer)
    script(src="/testimonial_swiper.js" defer) 
    link(rel="stylesheet" href="/carrousel.css")


  body

    a(href='whatsapp://send?phone=' + BusinessInfo.phoneNumber)
      svg(viewBox="0 0 32 32" class="whatsapp-ico")
        path(d="M19.11 17.205c-.372 0-1.088 1.39-1.518 1.39a.63.63 0 0 1-.315-.1c-.802-.402-1.504-.817-2.163-1.447-.545-.516-1.146-1.29-1.46-1.963a.426.426 0 0 1-.073-.215c0-.33.99-.945.99-1.49 0-.143-.73-2.09-.832-2.335-.143-.372-.214-.487-.6-.487-.187 0-.36-.043-.53-.043-.302 0-.53.115-.746.315-.688.645-1.032 1.318-1.06 2.264v.114c-.015.99.472 1.977 1.017 2.78 1.23 1.82 2.506 3.41 4.554 4.34.616.287 2.035.888 2.722.888.817 0 2.15-.515 2.478-1.318.13-.33.244-.73.244-1.088 0-.058 0-.144-.03-.215-.1-.172-2.434-1.39-2.678-1.39zm-2.908 7.593c-1.747 0-3.48-.53-4.942-1.49L7.793 24.41l1.132-3.337a8.955 8.955 0 0 1-1.72-5.272c0-4.955 4.04-8.995 8.997-8.995S25.2 10.845 25.2 15.8c0 4.958-4.04 8.998-8.998 8.998zm0-19.798c-5.96 0-10.8 4.842-10.8 10.8 0 1.964.53 3.898 1.546 5.574L5 27.176l5.974-1.92a10.807 10.807 0 0 0 16.03-9.455c0-5.958-4.842-10.8-10.802-10.8z" fill-rule="evenodd")

    header
      nav.navbar.navbar-expand-lg.bg-black.fixed-top.shadow-lg
        .container-fluid
          a.navbar-brand.text-black.animation.brand(href="#")
            span.brand-highlight Laterne
            span.brand-highlight.text-white &
            span.point .

          button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation")
            input.label-check#label-check(type="checkbox")
            label.hamburger-label.py-2(for="label-check")
              div.line1
              div.line2
              div.line3


          .collapse.navbar-collapse.z-index-10#navbarSupportedContent
            ul.navbar-nav.mb-2.mb-lg-0.ms-auto.mx-5

              li.nav-item
                a.nav-link.text-white.mx-2(href="/card_virtual") Carta

              li.nav-item
                a.nav-link.text-white.mx-2(href="#eventos") Eventos

              li.nav-item
                a.nav-link.text-white.mx-2(href="#redes") Redes

              li.nav-item
                a.nav-link.text-white.mx-2(href="#openingHour") Horarios

    .container-fluid.px-0.father
      img.banner.img-fluid(src="/new_banner.jpg" alt="")
      .son
        .wrapper
          h1 Laterne es 
          .words 
            span BIRRA 
            span AMIGOS 
            span FAMILIA 
        .pbox
          p
            | Hace muchos años que Laterne es sinónimo de birra, de amistad, de momentos compartidos y de buena cerveza artesanal. Los cambios que hemos vivido nos han dejado en un lugar mas simple. Como con quienes decidimos compartir lo que hacemos.

    .container-fluid.container-eventos.pt-lg-3.pt-md-3.pt-xs-1.px-lg-5.px-md-5.pb-3.my-0.pt-5
      h1#eventos.text-center.mb-2.pt-3.principal EVENTOS
      .contenedor-cards
        if Events.length > 0
          each event in Events
            .row.my-3.p-3
              .card.card-evento.p-3.justify-content-between.d-flex.flex-md-row.flex-column

                if event.date 
                  - const dateObject = new Date(event.date);
                  - const localDateString = dateObject.toLocaleDateString('es-AR', { timeZone: 'UTC' });
                  h1.m-0 #{localDateString}

                else
                  h1.m-0 --  /  --  /  ----

                if event.time
                  - const eventTimeParts = event.time.split(":");
                  - const eventTime = new Date();

                  - eventTime.setHours(Number(eventTimeParts[0]));
                  - eventTime.setMinutes(Number(eventTimeParts[1]));
                  div.d-flex.align-items-center
                    span.mr-2=event.location
                    span.artist.mx-2.principal=event.name
                    span #{eventTime.toLocaleTimeString('es-AR', { hour: '2-digit', minute: '2-digit' })}
                    if event.imageUrl
                      span.d-flex.align-items-center
                        ion-icon(name="image-outline" onclick=`openModal('${event.imageUrl}')`).text-white.mx-2.my-0#ion-icon-image

                else
                  p.m-0
                    span=event.location
                    span.artist.mx-2=event.name
                    span --:--



        else 
          .row.my-3.p-3
            .card.card-evento.p-3.justify-content-between.d-flex.flex-md-row.flex-column
              h1.m-0 Proximamente...

    #modal.modal-container.hidden
      div.modal-content

        ion-icon(name="chevron-down-outline" onclick=`closeModal()`).close-btn
        img#modalImage(alt="Large Image")



    .swiper-container.container-beers.py-10
      h1.text-center.text-dark.mx-2 NUESTRAS CERVEZAS
      .swiper-wrapper
        each val in ['/neipa-tapa.png', 'amber-tapa.png', 'apa-tapa.png', 'american-amber-tapa.png']
          .swiper-slide.py-10
            img(src=`${val}`, alt=`Beers`)


    main.intro-section.py-5.bg-black.mt-5
      .container.pr-5
        .grid
          .column-xs-12
            ul.slider

              li.slider-item.active

                .grid.vertical
                  .column-xs-12.column-md-2.hide-mobile
                    .intro
                      a(href='#')
                        h1.title
                          span.underline Divertite
                  .column-xs-12.column-md-10
                    .image-holder
                      img(src="/laterne2.jpg").img-carrousel
                    .grid
                      .column-xs-12.column-md-9
                        .intro.show-mobile
                          a(href='#')
                            h1.title
                              span.underline Divertite
                        p.description.text-white
                          | Hace muchos años que Laterne es sinónimo de birra, de amistad, de momentos compartidos y de buena cerveza artesanal.
              li.slider-item
                .grid.vertical
                  .column-xs-12.column-md-2.hide-mobile
                    .intro
                      a(href='#')
                        h1.title
                          span.underline Disfrutá
                  .column-xs-12.column-md-10
                    .image-holder
                      img(src="/laterne2.jpg").img-carrousel
                    .grid
                      .column-xs-12.column-md-9
                        .intro.show-mobile
                          a(href='#')
                            h1.title
                              span.underline Disfrutá
                        p.description.text-white
                          | Hace muchos años que Laterne es sinónimo de birra, de amistad, de momentos compartidos y de buena cerveza artesanal. 

              li.slider-item
                .grid.vertical
                  .column-xs-12.column-md-2.hide-mobile
                    .intro
                      a(href='#')
                        h1.title
                          span.underline Laterne
                  .column-xs-12.column-md-10
                    .image-holder
                      img(src="/laterne2.jpg").img-carrousel
                    .grid
                      .column-xs-12.column-md-9
                        .intro.show-mobile
                          a(href='#')
                            h1.title
                              span.underline Laterne
                        p.description.text-white
                          | Hace muchos años que Laterne es sinónimo de birra, de amistad, de momentos compartidos y de buena cerveza artesanal. 

            .grid
              .column-xs-12
                .controls
                  button.previous
                    span.visually-hidden Previous
                    span.icon.arrow-left(aria-hidden='true')
                  button.next
                    span.visually-hidden Next
                    span.icon.arrow-right(aria-hidden='true')




    .col.col-md-12.bg-black.container-testimonial
      .px-5.d-flex.justify-content-center.testimonial
        h2.text-white.text-center.itc ESTO ES LO QUE OPINA LA GENTE DE NOSOTROS



      .testimonial-reel
        each testimonial, index in Testimonials
          - const imageUrlIndex = index % ImagesUrls.length;
          div 
            .box
              figure.image
                img.img-fluid.rounded-circle(src=`${ImagesUrls[imageUrlIndex]}`)
              div.test-component
                article.test-title
                  h4= testimonial.date
                article.test-content
                  p= testimonial.description



      form.search-bar(id="form-testimonial")
        input.search-input(required='' name="description" type="text" autocomplete='off')
        button.search-btn(type='submit')
          span Enviar

    img(src="/testimonial_extremo.png").testimonial-extremo

    .contain-map.mt-5
      #map


    section#openingHour.mt-5.py-5.d-flex.flex-column.align-items-center.justify-content-center
      .page
        .margin
        each key in GroupedOpeningHours
          if key.morningStartTime || key.morningEndTime || key.eveningStartTime || key.eveningEndTime
            p.color-primary= key.days
            p
              | #{key.morningStartTime ? "De " + key.morningStartTime.substring(0, 5) + " a " : ""} 
              | #{key.morningEndTime ?  key.morningEndTime.substring(0, 5) + "  y  " : ""} 
              | #{key.eveningStartTime ? "de " + key.eveningStartTime.substring(0, 5) + " a " : ""} 
              | #{key.eveningEndTime ?  key.eveningEndTime.substring(0, 5) : " cierre"}






    .footer-dark
      footer
        .container
          .row
            .col-sm-6.col-md-3.item
              h3 SOPORTE
              ul

                li
                  a=BusinessInfo.address  
                li
                  a=BusinessInfo.email 
                li 
                  a=BusinessInfo.phoneNumber

            .col-sm-6.col-md-3.item
              h3 NOSOTROS
              ul
                li 
                  a(href='/auth/view-login') Soy Empleado

            .col-md-6.item.text
              h3 MEDIOS DE PAGO
              ul
                li 
                  img(src='/mercado-pago.svg' class='footer-icon')
                li
                  svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24',class='footer-icon')
                    path(d='M12.001 18.2942C10.916 18.9333 9.65132 19.3 8.30098 19.3C4.2693 19.3 1.00098 16.0316 1.00098 12C1.00098 7.96827 4.2693 4.69995 8.30098 4.69995C9.65132 4.69995 10.916 5.06659 12.001 5.70575C13.0859 5.06659 14.3506 4.69995 15.701 4.69995C19.7327 4.69995 23.001 7.96827 23.001 12C23.001 16.0316 19.7327 19.3 15.701 19.3C14.3506 19.3 13.0859 18.9333 12.001 18.2942ZM13.7027 16.9103C14.3194 17.1615 14.994 17.3 15.701 17.3C18.6281 17.3 21.001 14.9271 21.001 12C21.001 9.07284 18.6281 6.69995 15.701 6.69995C14.994 6.69995 14.3194 6.83837 13.7027 7.08957C14.8821 8.38619 15.601 10.1091 15.601 12C15.601 13.8908 14.8821 15.6137 13.7027 16.9103ZM10.2992 7.08957C9.68255 6.83837 9.00793 6.69995 8.30098 6.69995C5.37387 6.69995 3.00098 9.07284 3.00098 12C3.00098 14.9271 5.37387 17.3 8.30098 17.3C9.00793 17.3 9.68255 17.1615 10.2992 16.9103C9.11986 15.6137 8.40098 13.8908 8.40098 12C8.40098 10.1091 9.11986 8.38619 10.2992 7.08957ZM12.001 8.20521C11.0139 9.16781 10.401 10.5123 10.401 12C10.401 13.4876 11.0139 14.8321 12.001 15.7947C12.9881 14.8321 13.601 13.4876 13.601 12C13.601 10.5123 12.9881 9.16781 12.001 8.20521Z', fill='currentColor')
                li
                  svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24', class='footer-icon')
                    path(d='M1 4H23V6H1V4ZM1 18H23V20H1V18ZM19.6217 14.9136L19.448 14.0436L17.4994 14.0435L17.1899 14.907L15.6275 14.9105C16.6316 12.5036 17.3767 10.7206 17.8628 9.56169C17.9898 9.25902 18.2156 9.10462 18.5482 9.10699C18.802 9.10888 19.2168 9.10912 19.7927 9.10771L21 14.9108L19.6217 14.9136ZM17.9376 12.8518H19.1936L18.7248 10.6715L17.9376 12.8518ZM7.87203 9.10561L9.44245 9.10764L7.01511 14.9136L5.42535 14.9129C4.88785 12.8424 4.49315 11.3073 4.24125 10.3076C4.16402 10.001 4.01042 9.787 3.71519 9.68577C3.45195 9.59551 3.01355 9.45594 2.4 9.26707V9.10771C3.54718 9.10757 4.38339 9.10757 4.90863 9.10771C5.34299 9.10784 5.59619 9.31703 5.67765 9.74655C5.75942 10.1779 5.96599 11.2743 6.29735 13.0359L7.87203 9.10561ZM11.5994 9.10765L10.3588 14.913L8.86434 14.9108C8.89383 14.7698 9.30682 12.8347 10.1033 9.10561L11.5994 9.10765ZM14.6307 9C15.0773 9 15.6405 9.13846 15.9652 9.26707L15.703 10.4706C15.41 10.3532 14.9284 10.1944 14.5228 10.2006C13.933 10.2097 13.569 10.4566 13.569 10.6936C13.569 11.0783 14.2015 11.272 14.8528 11.6929C15.5956 12.1729 15.6937 12.603 15.6845 13.0713C15.6739 14.0422 14.8528 15 13.12 15C12.3286 14.9882 12.0444 14.9219 11.3995 14.6936L11.6718 13.4376C12.3282 13.712 12.6066 13.7991 13.1675 13.7991C13.6816 13.7991 14.1229 13.5918 14.1267 13.2308C14.1294 12.974 13.972 12.847 13.395 12.5293C12.8181 12.2117 12.0095 11.7726 12.0199 10.8889C12.0332 9.75821 13.1066 9 14.6307 9Z', fill='currentColor')
            .col.item.social#redes
              a(href=BusinessInfo.instagramUrl)
                i.bi.bi-instagram
              a(href=BusinessInfo.facebookUrl)
                i.bi.bi-facebook
              a(href="#")
                i.bi.bi-chevron-up
          hr
          p.copyright Laterne & . © 2023 - Valen Casas & Gino Paoletti




